---
import SiteLayout from "../layouts/SiteLayout.astro";
---

<SiteLayout>
  <div class="block">
    <a
      href="https://wails.io"
      class="inline font-medium text-[#646cff] [text-decoration:inherit] hover:text-[#535bf2]"
      target="_blank"
    >
      <img
        src="/wails.png"
        class="logo inline h-[6em] p-[0.5em] hover:[filter:drop-shadow(0_0_2em_#646cffaa)]"
        alt="Wails logo"
      />
    </a>
    <a
      href="https://developer.mozilla.org/en-US/docs/Web/JavaScript"
      class="inline font-medium text-[#646cff] [text-decoration:inherit] hover:text-[#535bf2]"
      target="_blank"
    >
      <img
        src="/javascript.svg"
        class="logo vanilla inline h-[6em] p-[0.5em] hover:[filter:drop-shadow(0_0_2em_#646cffaa)] hover:[filter:drop-shadow(0_0_2em_#f7df1eaa)]"
        alt="JavaScript logo"
      />
    </a>
    <h1
      class="mt-10 mb-10 text-[3.2em] leading-[1.1] font-semibold block font-bold"
    >
      Hello Wails!
    </h1>
    <div class="card p-[2em]">
      <button
        class="rounded-[8px] border-[1px] border-[solid] border-[transparent] px-[1.2em] py-[0.6em] text-[1em] font-medium [font-family:inherit] bg-[#1a1a1a] cursor-pointer [transition:border-color_0.25s] hover:border-[#646cff] outline-[4px_auto_-webkit-focus-ring-color]"
        id="counter"
        type="button">count is 0</button
      >
    </div>
    <p class="read-the-docs text-[#888]">
      Click on the Wails logo to learn more
    </p>
  </div>
</SiteLayout>
