---
import SiteLayout from "../layouts/SiteLayout.astro";
---

<SiteLayout>
  <div class="max-w-screen-xl mx-[auto] my-[0] p-8 text-center" id="app">
    <div class="block">
      <h1
        class="mt-10 mb-10 text-[3.2em] leading-[1.1] font-semibold block font-bold"
      >
        Hello Systray!
      </h1>
    </div>
  </div>
</SiteLayout>
