---
import SiteLayout from "../layouts/SiteLayout.astro";
---

<SiteLayout>
  <div
    class="fixed top-0 left-0 z-50 bg-transparent w-full h-full bg-[#111129] bg-[radial-gradient(at_47%_33%,_hsl(162.00,_77%,_40%)_0,_transparent_59%),_radial-gradient(at_82%_65%,_hsl(217.63,_57.99999999999999%,_41%)_0,_transparent_55%)]"
  >
    <div
      class="absolute top-0 left-0 w-full h-full bg-black/20 backdrop-blur-md"
    >
      <!-- Sidebar -->
      <div id="sidebar" hx-get="/sidebar" hx-target="this" hx-trigger="load">
      </div>
      <!-- Sidebar -->
      <div
        class="relative mx-auto my-auto px-4 py-3 rounded-lg text-white sm:w-48 overflow-auto h-full"
      >
        <!-- Content -->
         None
        <!-- Content -->
      </div>
    </div>
  </div>
</SiteLayout>
